
.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px #ddd;
  border-radius: 5px;
}

.logcard{
  display: flex;
  flex-direction: row;
}
.formLog{
  width: 100%;
}
.noSmall{
  display: inline;
}
.justSmall{
  display: none;
}
@media (max-width: 576px) {
  .register {
    width: 100% !important;

  }
  .noSmall{
    display: none;
  }
  .justSmall{
    display: inherit;
  }

}
