  <div class="title"><h2> {{ticker}}</h2>
  </div>
  <h4> {{ticker}} en los ultimos 6 meses</h4>

<c-row>

  <c-col lg="4" xs="12">
    <c-widget-stat-f
      [title]="'Insiders invirtiendo'"
      class="mb-3"
      color="primary"
      value="{{interesados}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilUser" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="4" xs="12">
    <c-widget-stat-f
      [title]="'Dinero invertido en este activo'"
      class="mb-3"
      color="success"
      value="{{totalValue.toLocaleString('en-US')}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilCash" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="4" xs="12">
    <c-widget-stat-f
      [title]="'Acciones compradas'"
      class="mb-3"
      color="info"
      value="{{accionesCompradas.toLocaleString('en-US')}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilClipboard" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>
<app-simple-table   [inputdataSource]="insiders"   [displayedColumns]="displayedColumns"></app-simple-table>

