input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mat-dialog-container {
  z-index: 10000 !important;
}
input[type=number] { -moz-appearance:textfield; }
.btn-container{
  width: 50%;
  display: flex;
  justify-content: right;
}
.conteinter{
  display: flex;
  width: 100vw;
}
.btnsep{
  margin-top: 5px;
}

@media (max-width: 768px) {

  .matForm{
    width: 114px !important;
  }

}

@media (max-width: 428px) {

  .matForm{
    width: 100px !important;
  }
  .next{
    margin-top: 30px;
  }

}
