<div class="title " ><h2> Tus finazas</h2>

</div>
<div  *ngIf="!finances">
  <c-col  xs="12" lg="6"  >
    <c-card   [ngClass]="{'skeleton': !response}" class="mb-4">
    <c-card-header>

    </c-card-header>
    <c-card-body *ngIf="!response"  style="text-align: center; height: 60px;">

    </c-card-body>
    <c-card-body *ngIf="response"  style="text-align: center;">
      <p> Todavia no cargaste tus datos, puedes cargarlos </p>
      <button type="button" [routerLink]="['/finanzas/cargaDeDatos']" class="btn btn-primary">aquí</button>

    </c-card-body>
    </c-card>
    </c-col>
</div>
<div *ngIf="finances">
<c-row  >

  <c-col  lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Ingresos mensuales'"
      class="mb-3"
      color="primary"
      value="{{finances.ingresosSum.toLocaleString('en-US')??0}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilUser" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Gastos mensuales'"
      class="mb-3"
      color="success"
      value="{{finances.gastosSum.toLocaleString('en-US')??0}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilCash" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Ahorro total'"
      class="mb-3"
      color="info"
      value="{{finances.ahorrosSum.toLocaleString('en-US')??0}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilClipboard" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f
      [title]="'Deueda total'"
      class="mb-3"
      color="info"
      value="{{finances.deudasSum.toLocaleString('en-US')??0}}"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilClipboard" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>

<div id="content"  class="userinfo" >



  <app-chat  id="view" *ngIf="requestEnviado>=1" [IsLoading]="isLoading" [message]="message" (messageOut)="CharlaChatGptEvento($event)"> </app-chat>

<c-row>

<c-col  xs="12" lg="6"  >
<c-card class="mb-4">
<c-card-header>
  Flujo  de tus ingresos

</c-card-header>
<c-card-body>
  <app-sankey  [finances]="finances.finances"></app-sankey>
</c-card-body>
</c-card>
</c-col>
<c-col xs="12" lg="6">
<c-card class="mb-4">
<c-card-header>
  Distribución de tus gastos
</c-card-header>
<c-card-body>
  <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
</c-card-body>
</c-card>
</c-col>
</c-row>

</div>
</div>
