<div class="firstSteps">
  <div class="titleF">
    <h2>Inversiones de Insiders</h2>

  </div>
  <br>
  <p>Un "insider" es alguien que tiene información privilegiada sobre una empresa debido a su posición dentro de la misma, como ejecutivos, directores o empleados clave. Sus movimientos son importantes porque pueden reflejar cambios significativos dentro de la empresa, como compras o ventas de acciones, que pueden influir en las decisiones de inversión de otros. Además, sus acciones están reguladas por leyes que buscan prevenir el uso de información privilegiada para obtener ganancias injustas en el mercado de valores.</p>
  <app-simple-table  (dataEmitter)="nextPage($event)" [nextPageBtn]="next_Page" [inputdataSource]="insiderList"   [displayedColumns]="displayedColumns"></app-simple-table>
